.menu_burger {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 210px;
  background: -webkit-linear-gradient(
    180deg,
    rgb(33, 77, 67),
    rgb(4, 29, 36) 82%
  );
  background: -moz-linear-gradient(180deg, rgb(31, 68, 60), rgb(5, 32, 39) 82%);
  background: linear-gradient(180deg, rgb(31, 77, 67), rgb(5, 28, 34) 82%);
  display: flex;
  text-align: center;

  flex-direction: column;
}
.img_atalyk img {
  width: 150px;
}
.img_atalyk {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button_menu {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 700px;
}
.button_menu_1 button {
  width: 170px;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(4, 29, 36, 1);
  color: aliceblue;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  border: 1px solid rgba(184, 182, 182, 0.897);
}
.button_menu_1:hover button {
  background-color: rgb(45, 100, 100);
  transition: 0.5s;
}

.close_item {
  position: absolute;
  right: -30px;
  top: 1rem;
  color: rgb(246, 35, 35);
  cursor: pointer;
}

.menulist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menulist a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.exit button {
  background-color: #ec5656;
  border-radius: 100px;
  padding: 5px 20px;
  color: rgb(255, 255, 255);
  border-color: rgba(84, 177, 243, 0.67);
  font-weight: 500;
}

.btn_exit {
  border-radius: 4px;
  background-color: #fafafa;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btn_exit {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_exit:after {
  content: "<<";
  position: absolute;
  opacity: 0;
  top: 5px;
  left: -10px;
  transition: 0.5s;
}

.btn_exit:hover {
  padding-right: 0px;
  padding-left: 30px;
}

.btn_exit:hover:after {
  opacity: 1;
  left: 30px;
}
.exit_menu {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.liss hr {
  color: aliceblue;
}
